html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  background-color: rgb(191 80 127);
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 3em;
  margin-top: 1em;
}
h2 {
  font-size: 2.5em;
  font-weight: 300;
}
.form-ctnr {
  width: 600px;
  margin-bottom: 2em;
  text-align: center;
}

.exp-ctnr {
  margin-bottom: 5px;
}

.exp-ctnr:last-child {
  margin-right: 40px;
}

label {
  font-size: 2em;
}

input,
select {
  height: 2em;
  border-radius: 5px;
  border: solid 1px grey;
}

select,
input[type="date"] {
  width: 223px;
}

.btn-ctnr button {
  color: white;
  background-color: rgb(43, 153, 226);
  margin-top: 1.5em;
  padding: 1.5em 1.5em;
  border-radius: 5px;
  border: solid 1px grey;
  box-shadow: -5px 6px 5px -4px rgba(23, 130, 209, 0.75);
  transition-duration: 0.5s;
}

.btn-ctnr button:hover {
  background-color: rgb(96, 161, 214);
  box-shadow: none;
  cursor: pointer;
}

.table-ctnr {
  width: 600px;
  min-height: 500px;
}

table {
  width: 100%;
  background-color: #ffffff;
}

th {
  text-transform: capitalize;
  background-color: rgb(43, 153, 226);
}

tr {
  max-height: 20px;
}

tr:nth-child(odd) {
  background-color: #e6e6e681;
}

td {
  color: black;
  font-weight: 800;
  border-bottom: 1px solid rgba(128, 128, 128, 0.301);
}

fieldset {
  border-color: rgb(64, 151, 209);
}

legend {
  font-size: 1.5em;
}
